.col-md-4
  %h1 Welcome
  %p#greeting
    Cedar Grove is a Southern Baptist Church with a passion
    for God and His truth. We seek to proclaim God's Word in
    all its fullness as we strive to magnify God by sharing
    the glories of Jesus Christ and His good news.
  .btn.btn-info.clearfix.center-block
    %span.glyphicon.glyphicon-file.center(style='font-size: 2em;')
    %p.center#news-label
      Current Newsletter
.col-md-8
  .center
    = image_tag "church.png", class: "image-responsive center-block"
