.section
  %h1 Pastor's Message
  = image_tag "books.png", class: "image-responsive center-block", size: "100x100"
  %p
    Pastor Marty is planning to put together some essays to share with all of you.
    = link_to "Click here", "articles"
    to read them all as they become available.
