.section
  %h1 Delete Newsletter
  = form_for @newsletter, method: :delete do |f|
    .form-group
      - all_newsletters = Newsletter.all.sort.reverse.map { |nl| [nl.name, nl.id] }
      = f.select :id, options_for_select(all_newsletters), class: 'form-control'
    .clearfix
    = f.submit 'Delete', class: 'btn btn-danger'
