.section
  %h1 Newsletter
  = link_to @last_newsletter.document.url do
    .btn.btn-primary#newsletter-btn-home
      %span.glyphicon.glyphicon-file
      %p#news-label
        = @last_newsletter.name
  %hr
  %ul.list-inline
    %li
      = link_to "All Newsletters", "newsletters"
