.row
  .col-md-3
    .section
      %h1 Newsletter  

      %p
        This newsletter is a montly overview of the things going on at church. 
        Check it out!
    .section
      %h3 Jump To
      %ul.sidebar-links
        - @news_by_year.keys.each do |year|
          %li= link_to year, "##{year}", class: "gotoYear"
  - first_year = @news_by_year.keys.first
  .col-md-9
    #accordion
      - @news_by_year.each do |year, newsletters| 
        = render partial: 'show_by_year', locals: {year: year, newsletters: newsletters, first_year: first_year}
