.pull-left
  %h1 Admin Page
- if user_signed_in?
  .pull-right
    .section
      = link_to('Logout', destroy_user_session_path, :method => :delete)
.clearfix
%hr
- if @user.permissions.include?(:newsletters)
  .row
    .col-md-8
      = render 'newsletters/new'
    .col-md-4
      = render 'newsletters/delete'
- if @user.permissions.include?(:sermons)
  = render 'sermons/new'
- if @user.permissions.include?(:events)
  .section
    %h1 Events
    Hello world
