.pull-left
  %h1 Admin Page
- if user_signed_in?
  .pull-right
    .section
      = link_to('Logout', destroy_user_session_path, :method => :delete)
.clearfix
%hr
- if @user.permissions.include?(:newsletters)
  = render 'newsletters/new'
- if @user.permissions.include?(:sermons)
  .section
    %h1 Sermons
    Hello world
- if @user.permissions.include?(:events)
  .section
    %h1 Events
    Hello world
