- if Event.upcoming.any?
  .section#event-section
    %h1 Events
    %table.table.table-condensed
      %tbody
      - Event.upcoming.each do |e|
        %tr
          %td= e.date
          %td= e.name
