.section
  %h1 Children's Corner
  = image_tag "puzzle.png", class: "image-responsive center-block", size: "100x100"
  %p
    Working with the children is one of our most important ministries. We have classes for
    all ages on Sunday mornings and a kids program each Wednesday evening.
    We also have an optional Children's Church class during the worship service.
    
