.section
  %h1 Service Times
  %table.table.table-condensed.hidden-xs
    %tbody
      %tr
        %td Sunday
        %td 10 AM
        %td Sunday School
      %tr
        %td Sunday
        %td 11 AM
        %td Worship Service
      %tr
        %td Sunday
        %td 6 PM
        %td Evening Worship Service
      %tr
        %td Wednesday
        %td 7 PM
        %td Prayer Service 

  %table.table.table-condensed.visible-xs-block
    %tbody
      %tr
        %td Sun 10 AM
        %td Sunday School
      %tr
        %td Sun 11 AM
        %td Worship Service
      %tr
        %td Sun 6 PM
        %td Evening Worship Service
      %tr
        %td Wed 7 PM
        %td Prayer Service 
