.section
  %h1 Contact Us

  %p
    We'd love to hear from you! Please contact us with any questions about our ministry.

  %p
    Reach CGBC by phone at (336) 626-0551.

  %p
    Contact pastor Marty Grainger by email at AMGrainger81@gmail.com

  %p
    The church is located at 3012 Old HWY 49 South, Asheboro NC 27204. P.O. Box 2943.

.section
  %h1 Technical Problems?
  %p
    Have you spotted a bug on the web site? Just have a suggestion? 
    Please use the form below to let us know right away!

  .row
    .col-md-11
      =text_area_tag 'email-text', nil, class: 'form-control'
    .col-md-1
      .btn.btn-primary Submit
