%h1
  Cedar Grove Baptist Church History
%hr
%h2 May 12, 1983, 7:00 PM
%p
  First meeting of group from W. Cedar Grove. Met at the home 
  of Mr. and Mrs. L. E. Edwards. Eight persons present:
  %ul
    %li Rev James Womble and wife, Ola
    %li Odis Honeycutt
    %li Livington & Nell Edwards
    %li Muriel Cox
    %li Carl & Frances King
  
%h2 May 19, 1983, 7:00 PM
%p
  Second meeting of group from W. Cedar Grove. Met 
  at the home of Muriel Cox at West 49 Trailer Park.  
  Youth from the trailer park sang some songs. Prayer 
  and devotions. Reports and discussion: Starting date 
  was set for June 12. Pending: getting a building.
.row
  .col-md-6
    %p  
      Present:
    %ul
      %li Rev. & Mrs. Womble
      %li Rev. & Mrs. Danforth
      %li Leland Bingham
      %li Carl & Frances King
      %li Odis Honeycutt
      %li Muriel Cox
  .col-md-6
    %p
      Prospective Teachers:
    %ul
      %li Jr./Sr. High: Leland Bingham
      %li Children - 1-6: Mrs. Womble
      %li Preschool: Frances King

%h2 May 27, 1983, 7:00 PM
%p
  Third meeting of group from West Cedar Grove group held at the 
  home of Rev. and Mrs. Womble. 
%p
  Set a visitation at the mobile home part for June 4, 1989 at 
  4:00 PM at the Shelter. 
%p
  Carl King and Rev. Womble went east and west respectively on Highway 49 
  while the ladies canvassed the mobile home park. They met back 
  at 7:00 PM for light food and prayer service. 

%h2 June 2, 1983
%p
  Mr. Livingston Edwards called home. He didn't live to see 
  very much done on the work.

%h2 June 12, 1983
%p
  First meeting of Cedar Grove Mission. Met in the Unity Community 
  Center.
%p
  Odis Honeycutt was acting Sunday School Director. 
  25 in attendance: 3 preschool, 3 in grades 1-6; 6 youth 
  and 12 adults. Rev. James A. Womble preached the first 
  sermon from Psalm 146. There was no outward response 
  made but the group showed great spirit. 

%h2 August 14, 1983
%p
  First Sunday morning "POT LUCK DINNER" at 
  Pavillion at West 49 trailer park following Sunday 
  morning services. There were 36 in attendance. Carl 
  King indicates that there was a "FEAST" with 6 first 
  time guests. 
					
%h2 August 21, 1983
%p
  First "PROFESSIONS OF FAITH", 3 young ladies 
  came forward to give their hearts to Jesus. 
					
%h2 September 4, 1983
%p
  LAST meeting at West 49 building. Had 31 present.
					
%h2 September 11, 1983
%p
  First meeting at Tabernacle Church building. It was 
  rented for $200 per month. There were 56 present for 
  Sunday School and 61 for preaching. 
					
%h2 September 28, 1983
%p
  First "WEDNESDAY NIGHT SERVICE". 12 persons present. 
%p
  First "BUSINESS MEETING". Odis Honeycutt gave 
  the first treasury report and reported that there was 
  $900 in the treasury with all bills paid but literature 
  and flowers. 
					
%h2 October 2, 1983
%p
  First "COOPERATIVE OFFERING" taken ($101.50) 
  for State Missions. 
					
%h2 October 3, 1983
%p
  Met with Missions Committee of First Baptist Church 
  of Asheboro. They were interested in sponsoring the 
  mission. 
					
%h2 October 30, 1983
%p
  First "HIGH ATTENDANCE" Day. 64 in Sunday 
  School. Had 9 to join church. 
