.row
  .col-md-8.col-xs-12
    .section
      .center
        .carousel.slide#myCarousel{:data => {:ride => 'carousel'}}
          %ol.carousel-indicators
            %li.active{:data => {:target => '#myCarousel', :slide_to => '0'}}
            %li.active{:data => {:target => '#myCarousel', :slide_to => '1'}}
          .carousel-inner
            .item.active
              = image_tag "church.jpg", class: "image-responsive center-block"
            .item
              = image_tag "church2.jpg", class: "image-responsive center-block"
  .col-md-4.col-xs-12
    .section
      %h1
        Welcome
      %p
        Cedar Grove is a Southern Baptist Church with a passion
        for God and His truth. We seek to proclaim God's Word in
        all its fullness as we strive to magnify God by sharing
        the glories of Jesus Christ and His good news.
    .section
      %h1
        Newsletter
      .btn.btn-info.clearfix.center-block
        %span.glyphicon.glyphicon-file(style='font-size: 2em;')
        %p#news-label
          Current Newsletter
