!!! 5
%html
  %head
  %body
    %h1
      Comment from 
      = @name
    = "Return email: #{@email}"
    %p
      = @comment
    %p
      This is just a test email. If you're getting this and you shouldn't, please yell at me. 
