/*
 * This is a manifest file that will be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 */

//Do not use '*=require's, can mess up bootstrap
//bootstrap-sprockes must be imported before bootstrap
@import "bootstrap-sprockets";
@import "bootstrap";

@import "http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css";

@import 'home';
@import 'mixins';

.full-bg {
  @include full-image-bg("sky2.jpg");
}

body {
  background: inherit;
}

h2 { 
  margin-top: 45px;
}

.section {
  margin-bottom: 25px;
  padding: 5px;
  border-radius: 2px;

  opacity: 0.9;
  background-color: #111111;
  color: #EEEEEE;

  h1 {
    margin-left: -15px;
    margin-top: -15px;

    @include width-max-content;
    max-width: 100%;

    padding: 5px;

    color: #000000;
    background-color: #FFFFFF;

    border-radius: 5px;
  }

  .btn {
    margin: 15px;
  }

  p {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  img {
    padding: 5px;
  }
  
  input, select {
    color: #000000;
    margin: 10px;
    margin-top: 2px;
    max-width: 90%;
  }

  select {
    width: 250px;
    float: left;
  }
}

.icon {
  width: 24px;
  height: 24px;
  @include filter(saturate(10%) invert(100%));

  &:hover {
    @include filter(saturate(100%));
    @include filter(drop-shadow(2px 1px 1px rgba(2,2,2,0.7)));
  }
}

.alert {
  border: 1px solid black;
}

footer {
  color: #FFFFFF;
}
