// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#event-summary-table {
  td:first-child {
    width: 40%;
  }
  table-layout: fixed;
}

.event-desc-cell {
  border-top: 0 !important;
}

.event-details {
  display: none;
}

.show-event-details-btn {
  cursor: pointer;
}
