// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#event-summary-table {
  td:first-child {
    width: 40%;
  }
  table-layout: fixed;
}

.eventDescCell {
  border-top: 0 !important;
}

.showEventDetailsBtn {
  cursor: pointer;
}
