#welcome-box {
  padding-left: 6%;
  padding-right: 6%;
  p {
    text-align: justify;
    font-size: 13pt;  
  }
}

#carousel-section {
  padding-top: 20px;
  padding-bottom: 20px;
}

.item {
  img {
    width: 100%;
  }
}

#event-section {
  background-image: url('calendar2.png');
  background-repeat: no-repeat;
  background-position: 80% 40%;
  background-size: 60%;
}
