.item {
  img {
    width: 100%;
  }
}

#welcome-box {
  padding: 3% 9%;

  #greeting {
    font-size: 40pt;
  }

  p {
    text-align: justify;
    font-size: 18pt;  
  }
}

#carousel-section {
  padding-top: 20px;
  padding-bottom: 20px;
}

#news-label {
  font-size: 20px;
  padding-bottom: 0;
  margin-bottom: 0;
}

#newsletter-btn-home {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
