@mixin background-size($size) {
  -webkit-background-size: $size;
  -moz-background-size: $size;
  -o-background-size: $size;
  background-size: $size;
}

@mixin width-max-content {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

@mixin filter($filter) {
  -webkit-filter: $filter;
  -moz-filter: $filter;
  filter: $filter;
}
