@mixin full-image-bg($image-path) {
  background-image: image-url($image-path);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; 

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@mixin width-max-content {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

@mixin box-shadow($hOffset, $vOffset, $blur, $spread, $color) {
  -webkit-box-shadow: $hOffset $vOffset $blur $spread $color;
  -moz-box-shadow: $hOffset $vOffset $blur $spread $color;
  box-shadow: $hOffset $vOffset $blur $spread $color;
}

@mixin filter($filter) {
  -webkit-filter: $filter;
  -moz-filter: $filter;
  filter: $filter;
}
