// Place all the styles related to the Newsletter controller here.
// They will automatically be included in application.css.
.newsletter-grid-button {
  font-size: 20pt;
  font-weight: bold;

  width: 95%;
  padding-top: 1em;
  padding-bottom: 1em;
}

.newsletter-year-header {
  padding-top: 1em;
  padding-bottom: 0.25em;
  padding-left: 20px;
  padding-right: 20px;

  margin-bottom: 1em;

  //Offset default padding from .section
  margin-top: -5px;
  margin-left: -20px;
  margin-right: -20px;

  //Match default border radius of .section
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;

  h2 {
    margin-top: 0;
  }
}

.newsletter-row {
  margin-top: 2.5em;
  margin-left: 20px;
  margin-right: 20px;
}

.newsletter-col {
  margin-bottom: 2.5em;
}

.no-text-decoration {
  text-decoration: none;
  &:hover, &:focus {text-decoration: none;}
}

