// Place all the styles related to the Newsletter controller here.
// They will automatically be included in application.css.
.newsletter-grid-button {
  font-size: 20pt;
  font-weight: bold;

  width: 85%;
  padding-top: 1em;
  padding-bottom: 1em;
}

.newsletter-row {
  margin-left: 20px;
  margin-right: 20px;
}

.newsletter-col {
  margin-bottom: 1em;
}

.no-text-decoration {
  text-decoration: none;
  &:hover {text-decoration: none;}
}
